[*]

# ReSharper properties
resharper_align_multiline_argument = true
resharper_align_multiline_binary_patterns = true
resharper_align_multiline_calls_chain = true
resharper_align_multiline_expression = true
resharper_align_multiline_extends_list = true
resharper_align_multiline_list_pattern = true
resharper_align_multiline_parameter = true
resharper_align_multiline_property_pattern = true
resharper_align_multiline_switch_expression = true
resharper_align_multiple_declaration = true
resharper_align_multline_type_parameter_constrains = true
resharper_align_multline_type_parameter_list = true
resharper_align_tuple_components = true
resharper_csharp_allow_far_alignment = true
resharper_csharp_extra_spaces = leave_all
resharper_csharp_int_align_comments = true
resharper_csharp_outdent_dots = true
resharper_csharp_stick_comment = false
resharper_indent_anonymous_method_block = true
resharper_indent_raw_literal_string = indent
resharper_int_align_assignments = true
resharper_int_align_binary_expressions = true
resharper_int_align_fields = true
resharper_int_align_methods = true
resharper_int_align_nested_ternary = true
resharper_int_align_parameters = true
resharper_int_align_properties = true
resharper_int_align_property_patterns = true
resharper_int_align_switch_expressions = true
resharper_int_align_switch_sections = true
resharper_int_align_variables = true
resharper_outdent_binary_ops = true
resharper_outdent_statement_labels = true
resharper_static_members_qualify_with = current_type
